<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842557595510-fkrbok9qmav87j03nabivamme3d7uvui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842557595510-fkrbok9qmav87j03nabivamme3d7uvui</string>
	<key>API_KEY</key>
	<string>AIzaSyAM-QN1vw-CNGRcRbSffVnrjLXLyDFfqFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>842557595510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raza.innoscripta</string>
	<key>PROJECT_ID</key>
	<string>innoscripta-80089</string>
	<key>STORAGE_BUCKET</key>
	<string>innoscripta-80089.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842557595510:ios:c3f35329022eed896a2457</string>
</dict>
</plist>